/*PRELOADER*/
  
#onloading-animation{
  position:fixed;
  z-index:9999999;
  height:100vh;
  width:100vw;
  background:#fff;
  display:flex;
  justify-content:center;
  align-items:center;
}

#onloading-animation.hide{
  visibility: hidden;
  opacity: 0;
  transition: visibility 1s 1s,
  opacity 0s linear;
}
  
  
  .view-list #ctaSec, .view-list #soldSec{
    display: none!important;
  }







  /*BANNER*/
  
  .team-layout-a-item .single-agent-header {
    padding-top: 100px;
  }
  .team-layout-a-item .single-agent-header .single-agent-header-content {
    padding-bottom: 150px;
  }
  .inline-background-image.empty,
  .banner-image-override.empty {
    background: black !important;
  }
  
  .team-layout-a-item .single-agent-header .single-agent-header-content .single-agent-header-search, .call-to-action-buttons, .license-number, .single-agent-header-info hr{
    display: none;
  }
  
  .team-layout-a-item .single-agent-header .single-agent-header-content .single-agent-header-box {
    background-color: unset;
    box-shadow: unset;
    padding: 0;
    max-width: 1200px;
    width: 100%;
    margin: auto;
}
  
  
  .team-layout-a-item .single-agent-header .single-agent-header-content .single-agent-header-box.desktop {
    display: flex!important;
  }
  
  .team-layout-a-item .single-agent-header .single-agent-header-content .single-agent-header-box.mobile{
    display: none!important;
  }
  
  .team-layout-a-item .single-agent-header .single-agent-header-content .single-agent-header-box.desktop .single-agent-header-img, .team-layout-a-item .single-agent-header .single-agent-header-content .single-agent-header-box.mobile .single-agent-header-img {
    width: 480px;
    height: 480px;
    flex-shrink: 0;
    aspect-ratio: 1;
}
  
  .team-layout-a-item .single-agent-header .single-agent-header-content .single-agent-header-box.desktop .single-agent-header-info, .team-layout-a-item .single-agent-header .single-agent-header-content .single-agent-header-box.mobile .single-agent-header-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 0 30px 70px;
  }
  
  
  .team-layout-a-item .single-agent-header .single-agent-header-content .single-agent-header-box.desktop .single-agent-header-info .single-agent-header-info-title, .team-layout-a-item .single-agent-header .single-agent-header-content .single-agent-header-box.mobile .single-agent-header-info .single-agent-header-info-title {
    order: 1;
    color: #FFF;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 35px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
  
  
  .team-layout-a-item .single-agent-header .single-agent-header-content .single-agent-header-box.desktop .single-agent-header-info .single-agent-header-info-name, .team-layout-a-item .single-agent-header .single-agent-header-content .single-agent-header-box.mobile .single-agent-header-info .single-agent-header-info-name
 {
    padding: 0!important;
    text-transform: uppercase;
    word-wrap: break-word;
    word-break: break-word;
    color: #FFF;
    font-family: Poppins;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 90px;
    letter-spacing: 2px;
    text-transform: uppercase;
    order: 2;
}
  
  .team-layout-a-item .single-agent-header .single-agent-header-content .single-agent-header-box.desktop .single-agent-header-info .single-agent-header-info-sub, .team-layout-a-item .single-agent-header .single-agent-header-content .single-agent-header-box.mobile .single-agent-header-info .single-agent-header-info-sub{
  order: 3;
  }
  
  .email-link:before {
    content: "Email: ";
  }
  
  .single-agent-header-info-sub > div:first-child:before {
    content: "Phone: ";
  }

  .team-layout-a-item .single-agent-header .single-agent-header-content .single-agent-header-box.desktop .single-agent-header-info .single-agent-header-info-sub>div:first-child,
  .team-layout-a-item .single-agent-header .single-agent-header-content .single-agent-header-box.desktop .single-agent-header-info .single-agent-header-info-sub>div.email-link{
    font-family: Poppins!important;
    font-size: 18px!important;
    font-style: normal!important;
    font-weight: 400!important;
    line-height: 35px!important;
    height: fit-content!important;
    margin-top: 0 !important;
  }
  
  
  
  
  



/*BODY BIO*/  

  
.team-layout-a-item .single-agent-info {
background-color: white;
padding-bottom: 0;
}
  
  
  h2#fName {
    text-align: center;
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 50px;
  }
  
  
  .team-layout-a-item .single-agent-info .single-agent-info-left .single-agent-info-left-block {
    width: 100%!important;
    max-width: 1200px!important;
    margin: auto!important;
    padding: 150px 0!important;
}
  
  .team-layout-a-item .single-agent-info .single-agent-info-left .single-agent-info-block-body p {
    color: #333!important;
    font-family: Poppins!important;
    font-size: 18px!important;
    font-style: normal!important;
    font-weight: 400!important;
    line-height: 35px;
  }
  
  
  








/*TESTIMONIALS*/

.single-agent-testimonials {
background-color: black;
min-height: unset;
}
  
.testimonials-list-item-content .testimonial-left-container,
.testimonials-list-item-content .testimonial-image-container,
.testimonials-list-item-content div.testimonial-ratings,
.testimonials-list-item-content .testimonials-zillow-logo-wrap,
  .testimonials-list-item-content .testimonial-reviewer-link, .testimonials-list-item-content .testimonial-full-review .testimonial-full-zillow-review{
  display: none!important;
}
  .single-agent-testimonials:before {
    content: "what our client’s say";
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 35px;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 70px;
  }
  
  .single-agent-testimonials .single-agent-testimonial-container {
    max-width: unset;
    margin: 0;
    left: unset;
    width: 100%;
    max-height: 200px;
  }
  
  .single-agent-testimonials .single-agent-testimonial-container .single-agent-testimonial-list-item{
    width: 100%;
  }
  
  
  .testimonials-list-item-content .testimonial-full-review{
    color: #FFF;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    padding-top: 0!important;
    min-height: 200px;
  }
  
  .single-agent-testimonials .single-agent-testimonials-arrow-left, .single-agent-testimonials .single-agent-testimonials-arrow-right {
    position: unset;
    top: unset;
    left: unset;
    transform: unset;
    border: 2px solid white;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 !important;
    transition: .4s ease;
  }
  
  div#testislide {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    gap: 70px;
  }
  div#testiarrows {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .single-agent-testimonials .single-agent-testimonials-arrow-left svg, .single-agent-testimonials .single-agent-testimonials-arrow-right svg {
    position: unset;
    left: unset;
    top: unset;
    transform: unset;
    width: 40px;
    height: 40px;
}
  
  .single-agent-testimonials-arrow-left svg {
    transform: scaleX(-1) !important;
    margin-left: -5px;
}
  
  .single-agent-testimonials .single-agent-testimonials-arrow-right{
    margin-right: -5px;
  }
  
  .single-agent-testimonials .single-agent-testimonials-arrow-left svg path, .single-agent-testimonials .single-agent-testimonials-arrow-right svg path {
    stroke: white;
    transition: .4s ease;
}
  
   .single-agent-testimonials .single-agent-testimonials-arrow-left:hover, .single-agent-testimonials .single-agent-testimonials-arrow-right:hover{
    background: white;
}
  
  .single-agent-testimonials .single-agent-testimonials-arrow-left:hover svg path, .single-agent-testimonials .single-agent-testimonials-arrow-right:hover svg path {
    stroke: black;
}













/*CTA*/

#ctaSec .rowX {
    display: flex;
    flex-direction: row;
}

.imgCol {
    height: 710px;
    width: 50%;
    background-size: cover;
    background-position: center;
}

.txtCol{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 100px;

    h3{
        color: #000;
        text-align: center;
        font-family: Poppins!important;
        font-size: 24px!important;
        font-style: normal;
        font-weight: 500;
        line-height: 35px; /* 145.833% */
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-bottom: 25px;
    }

    h2{
        color: #000;
        text-align: center;
        font-family: Poppins!important;
        font-size: 55px!important;
        font-style: normal;
        font-weight: 700;
        line-height: 60px; /* 109.091% */
        letter-spacing: 2px;
    }

    p{
        color: #333;
        text-align: center;
        font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 35px;
        margin: 40px 0 50px;
    }


    a{
      color: #000;
      font-family: Poppins;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 1px;
      border: 2px solid #000;
      display: flex;
      padding: 25px 35px;
      align-items: flex-start;
      gap: 10px;
      text-align: center;
      transition: .4s ease;
    }
  
  a:hover{
    color: white;
    background: black;
  }
}
























/*LISTINGS*/
    .grid-view-item.splide__slide {
        margin: 0;
        min-width: 250px;
    }
    
    .grid-view-item.splide__slide .gallery-card-b {
        width: 100%;
    }

    .grid-view-item.splide__slide .gallery-card-b .gallery-card-b-main-card .gallery-card-b-image-container {
        width: 100%;
        height: unset;
        aspect-ratio: 1.336;
        max-height: unset;
    }

    .team-layout-a-item .single-agent-listings{
        display: none!important;
    }



    div#soldSec {
        padding: 150px 0;
        background: black;


        h2{
            color: #FFF;
            text-align: center;
            font-family: Poppins;
            font-size: 55px;
            font-style: normal;
            font-weight: 700;
            line-height: 60px; /* 109.091% */
            letter-spacing: 2px;
            text-transform: uppercase;
            margin-bottom: 70px;
        }

        div#sNavi{
            display: flex;
            align-items: center;
            max-width: 1200px;
            margin: 70px auto 0;
            gap: 50px;
            padding: 0 50px;


            .arrowX {
                display: flex;
                gap: 20px;

                .swiper-button-next{
                    position: unset;
                    position: unset;
                    width: 80px;
                    height: 80px;
                    flex-shrink: 0;
                    border: 2px solid white;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: unset;
                    color: white;
                    transition: .4s ease;

                    &:hover{
                      color: black;
                      background: white;
                    }
                }

                .swiper-button-prev{
                    position: unset;
                    position: unset;
                    position: unset;
                    width: 80px;
                    height: 80px;
                    flex-shrink: 0;
                    border: 2px solid white;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: unset;
                    color: white;
                    transition: .4s ease;

                    &:hover{
                      color: black;
                      background: white;
                    }
                }

                .swiper-button-next:after, .swiper-button-prev:after {
                    font-size: 30px;
                }
            }



            
            .lineX {
                width: -webkit-fill-available;
                height: 1px;
                background: white;
            }

            a.valBtn{
                color: #FFF;
                font-family: Poppins;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                letter-spacing: 1px;
                display: flex;
                padding: 25px 35px;
                gap: 10px;
                border: 2px solid #FFF;
                align-items: center;
                justify-content: center;
                white-space: nowrap;
                transition: .4s ease;

                &:hover{
                    color: black;
                    background: white;
                }
            }
        }
    }



  div#soldSwiperx .swiper-slide {
    height: fit-content !important;
  }

  .single-agent-info-custom-content-5 + br + br, .single-agent-info-custom-content-5 + br, .single-agent-contact-section + br + br, .single-agent-contact-section + br {
    display: none !important;
  }



html{

  .YLOPO-widget .widget-gallery-container {
    padding-left: 50px;
  }
  
  .YLOPO-widget .widget-gallery-container .grid-view-item {
    min-width: 550px;
    margin: 0 50px 0 0;
  }
  
  .YLOPO-widget .widget-gallery-container .grid-view-item>.gallery-card-b {
    width: 100%;
  }

  .YLOPO-widget .gallery-card-b .gallery-card-b-summary-details,
  .YLOPO-widget .gallery-card-b .gallery-card-b-main-card{
    border: none!important;
  }
  
  .YLOPO-widget .gallery-card-b .gallery-card-b-main-card .gallery-card-b-image-container{
    height: 400px;
    width: 100%;
    max-height: 400px;
  }

  .YLOPO-widget .gallery-card-b .gallery-card-b-main-card .gallery-card-b-details-container>.property-details-wrap>.gallery-card-b-compliance-display,
  .YLOPO-widget .gallery-card-b .gallery-card-b-main-card .gallery-card-b-details-container>.property-details-wrap,
  .YLOPO-widget .listing-image-with-map .listing-image-with-map-image-layout .listing-status-with-overlay-flag,
  .YLOPO-widget .listing-image-with-map .card-icon
  {
    display: none !important;
  }

  
  .YLOPO-widget .gallery-card-b .gallery-card-b-main-card .gallery-card-b-details-container {
    margin-top: -95px;
  }

  .YLOPO-widget .gallery-card-b .gallery-card-b-summary-details {
    background: transparent;
  }


  .info-block.lprice {
    background: #000;
    display: flex;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    opacity: 0;
    transition: .4s ease;
    pointer-events: none;
  
    .label{
      display: none!important;
    }
  
    span{
      color: #FFF!important;
      font-family: Poppins;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: 35px; /* 109.375% */
    }
  
    p{
      color: #FFF!important;
      font-family: Poppins;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 1px;
      width: fit-content;
    }
  }


  .YLOPO-widget .widget-gallery-container .grid-view-item:hover{
    .info-block.lprice {
      opacity: 1;
      pointer-events: initial;
    }
  }


  .YLOPO-widget .gallery-card-b .gallery-card-b-summary-details .gallery-card-b-address-block {
    padding: 30px 30px!important;
    justify-content: flex-start!important;
    border: none!important;
  }

  
  .YLOPO-widget .gallery-card-b .gallery-card-b-summary-details .gallery-card-b-address-block .layout{
    
    div:first-child{
      color: #000!important;
      font-family: Poppins!important;
      font-size: 32px!important;
      font-style: normal!important;
      font-weight: 700!important;
      line-height: 35px!important;
      overflow: hidden!important;
      display: -webkit-box!important;
      -webkit-line-clamp: 1!important;
      line-clamp: 1!important; 
      -webkit-box-orient: vertical!important;
    }
  
    .locality{
      display: flex!important;
      font-size: 20px!important;
      gap: 5px;
  
      span{
        color: #333!important;
        font-family: Poppins!important;
        font-size: 20px!important;
        font-style: normal!important;
        font-weight: 400!important;
        line-height: 35px!important;
      }
    }
  
  }


  

  .YLOPO-widget .gallery-card-b .gallery-card-b-summary-details .summary-info{
    padding: 0 30px 30px;
    color: rgba(0, 0, 0, 0.40);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    gap: 16px;
  }

  .YLOPO-widget .gallery-card-b .gallery-card-b-summary-details .summary-info .info-block {
    align-items: center;
    flex: unset;
    flex-flow: unset;
    justify-content: flex-start;
    flex-direction: row-reverse;
    border-left: none!important;
    color: rgba(0, 0, 0, 0.40)!important;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    gap: 5px;

    .label, span{
      color: rgba(0, 0, 0, 0.40)!important;
      font-family: Poppins;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  .YLOPO-widget .gallery-card-b .gallery-card-b-summary-details .summary-info .info-block:nth-child(2):before {
    content: '';
    width: 3px;
    height: 3px;
    aspect-ratio: 1/1;
    background: black;
    border-radius: 50%;
    margin-left: 16px;
  }

  .YLOPO-widget .gallery-card-b .gallery-card-b-summary-details .summary-info .info-block:nth-child(2):after {
    content: '';
    width: 3px;
    height: 3px;
    aspect-ratio: 1/1;
    background: black;
    border-radius: 50%;
    margin-right: 16px;
  }


  
}









.agentSocMed{
  display: flex;
  gap: 10px;
  
  a{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transition: .4s ease;
  }
}

.tiktok.socmed svg {
    height: 20px;
    width: fit-content;
    display: block;
}


.agentSocMed a:hover{
  color: white;
  border: 1px solid black;
  background: black;
  
  svg{
    fill: white;
  }
}






.view-item.collection-type-team{
  
  .single-agent-header .agentSocMed:nth-child(2){
  	display: none!important;  
  }
  
  .agentSocMed{
    flex-direction: column;
    width: fit-content;
    z-index: 99999;
    position: absolute;
    left: 50px;
    top: 25%;
    height: 50%;
    align-items: center;
    justify-content: center;
  }
  
  .agentSocMed a{
    color: white;
    border: 1px solid white;
    transitioN: .4s ease;
  }
  
  .tiktok.socmed svg {
    fill: white;
  }
  
  .agentSocMed.socMob{
    flex-direction: row !important;
    position: relative;
    margin-top: 40px !important;
    left: 0;
    top: unset;
    display: none!important;
    height: fit-content;
    
    a{
      width: 40px;
      height: 40px;
    }
  }
}

.view-item.collection-type-team .agentSocMed a:hover, .single-agent-header-content .single-agent-header-box.desktop .single-agent-header-info .single-agent-header-info-sub .agentSocMed.socMob a:hover {
    color: #000!important;
    background: white;
  
  svg{
    fill: black;
  }
}




/*BANNER RESPONSIVENSS*/

@media(max-width: 1440px){
  .view-item.collection-type-team .agentSocMed{
    display: none!important;
  }
  .view-item.collection-type-team .agentSocMed.socMob{
    display: flex!important;
  }
  
  .agentSocMed.socMob .tiktok.socmed svg {
    height: 16px;
  }
}



@media(max-width: 1280px){
  .team-layout-a-item .single-agent-header{
    padding: 100px 50px 0;
    
  }
  .team-layout-a-item .single-agent-header .single-agent-header-content {
    padding-bottom: 100px;
}
  .team-layout-a-item .single-agent-header .single-agent-header-content .single-agent-header-box.desktop .single-agent-header-info{
    padding: 30px 0 30px 50px!important;
  }
  
  .team-layout-a-item .single-agent-header .single-agent-header-content .single-agent-header-box.desktop .single-agent-header-img{
    width: 400px!important;
    height: 400px!important;
  }
  
  .team-layout-a-item .single-agent-header .single-agent-header-content .single-agent-header-box.desktop .single-agent-header-info .single-agent-header-info-title{
    font-size: 24px;
    line-height: 32px;
  }

  
  .team-layout-a-item .single-agent-header .single-agent-header-content .single-agent-header-box.desktop .single-agent-header-info .single-agent-header-info-name{
  font-size: 64px!important;
  line-height: 72px!important;
}
  
      html body .team-layout-a-item .single-agent-header .single-agent-header-content .single-agent-header-box.desktop .single-agent-header-info {
        padding: 30px 50px !important;
    }
  
  .team-layout-a-item .single-agent-header .single-agent-header-content .single-agent-header-box.desktop .single-agent-header-info .single-agent-header-info-sub>div.license-number{
    display: none!important;
  }

}




@media (max-width: 1024px) {
    html body .team-layout-a-item .single-agent-header .single-agent-header-content .single-agent-header-box.desktop .single-agent-header-info {
        padding: 0 0 0 50px !important;
    }
  
  .team-layout-a-item .single-agent-header .single-agent-header-content .single-agent-header-box.desktop .single-agent-header-info .single-agent-header-info-title{
    padding: 0!important;
  }
  
  .team-layout-a-item .single-agent-header .single-agent-header-content .single-agent-header-box.desktop .single-agent-header-info .single-agent-header-info-name{
    margin-bottom: 20px;
  }
  
  .team-layout-a-item .single-agent-header .single-agent-header-content .single-agent-header-box.desktop .single-agent-header-info .single-agent-a-social{
    padding: 0;
    margin: 0;
  }
}




@media(max-width: 900px){
  html body .team-layout-a-item .single-agent-header .single-agent-header-content .single-agent-header-box.desktop .single-agent-header-info {
        padding: 0!important;
    width: 100%;
    }
  
  .team-layout-a-item .single-agent-header .single-agent-header-content .single-agent-header-box.desktop {
    gap: 80px;
    flex-direction: column;
  }
}




@media(max-width: 640px){
      body.collection-type-team #siteWrapper {
        padding-left: 0px!important;
        padding-right: 0px!important;
    }
  
      .team-layout-a-item .single-agent-header {
        padding: 80px 20px 0!important;
    }
  
      .team-layout-a-item .single-agent-header .single-agent-header-content {
        padding-bottom: 80px!important;
    }
  
      .team-layout-a-item .single-agent-header .single-agent-header-content .single-agent-header-box.desktop .single-agent-header-info .single-agent-header-info-name {
        font-size: 48px !important;
        line-height: 60px !important;
        margin-bottom: 25px !important;
    }
  
  html body .sqs-layout .sqs-row .sqs-block.code-block.sqs-block-code {
    padding: 0 !important;
}
}


@media (max-width: 550px) {
    .team-layout-a-item .single-agent-header .single-agent-header-content .single-agent-header-box.desktop .single-agent-header-img {
        margin: 0!important;
    }
}



@media(max-width: 440px){
  html body .team-layout-a-item .single-agent-header .single-agent-header-content .single-agent-header-box.desktop .single-agent-header-img {
        width: 100% !important;
        height: initial !important;
        aspect-ratio: 1;
    }
  
  html body .team-layout-a-item .single-agent-header .single-agent-header-content .single-agent-header-box.desktop .single-agent-header-info .single-agent-header-info-sub>div:first-child, html body .team-layout-a-item .single-agent-header .single-agent-header-content .single-agent-header-box.desktop .single-agent-header-info .single-agent-header-info-sub>div.email-link {
    font-size: 14px !important;
  }
  
  .team-layout-a-item .single-agent-header .single-agent-header-content .single-agent-header-box.desktop .single-agent-header-info .single-agent-header-info-title {
        font-size: 22px;
        line-height: 25px;
    }
  
  .team-layout-a-item .single-agent-header .single-agent-header-content .single-agent-header-box.desktop .single-agent-header-info .single-agent-header-info-name {
        font-size: 42px !important;
    line-height: 52px !important;
  }
}

/*BANNER RESPONSIVENSS*/
